<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Share my Ride</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/login_edits.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body class="layout">
  <header>
    <nav>
      <a class="home-btn" href="/">
        <img class="logo-img" src="/images/logo.png" alt="">
      </a>
  
      <% if logged_in? %>
        <article class="user-access">
          <a class="user-name" href="/user/<%= current_user.id %>"><%= current_user.username %></a>
          <form class="logout-btn" action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="logout-btn">logout</button>
          </form>
        </article>
      <% else %>
        <article class="user-access">
          <a class="login-btn" href="/login">Login</a>
          <a class="join-btn" href="/user/new">Join now</a>
        </article>
      <% end %>
    </nav>
  </header>
  

  <%= yield %>
</body>
</html>