<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <% if logged_in? %>
  logged in as <a href="/user/<%= current_user.id %>"><%= current_user.username %></a>
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
  </form>
  <% else %>
    <a href="/login">login/Sign up</a>    
  <% end %>
  
  <a href="/">Home</a>    

  <%= yield %>

</body>
</html>