*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body{
  margin: 5px 5px;
}

header{
  height: 80px;
}

nav{
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.logo-img{
  height: 70px;
  width: 70px;
}

.user-access{
  display: flex;
  justify-content: center;
  width: 17%;
}

.login-btn, .join-btn, .user-name{
  margin: 0 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #545454;
  line-height: 70px;
}

.join-btn{
  padding: 0 10px;
  background-color: #545454;
  color: white;
  border-radius: 10%;
  font-weight: 700;
}

.logout-btn{
  padding: 0 10px;
  background-color: #545454;
  color: white;
  border-radius: 10%;
  font-weight: 700;
  border: none;
  line-height: 70px;
  cursor: pointer;
}

.home-option-buttons{
  display: flex;
  justify-content: center;
  height: 120px;
}

.home-borrow-btn{
  margin: 20px 20px;
  padding: 30px 90px;
  background-color: #545454;
  color: white;
  border-radius: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 800;
}

img{
  border-radius: 10px;
}

input, button{
outline: none;
}