<h1>Join up!</h1>

<form action="/user" method = "post">
  <label for="">Name</label>
  <input name="name" type="text">

  <label for="">Username</label>
  <input name="username" type="text">

  <label for="">Email</label>
  <input name="email" type="email">

  <label for="">Password</label>
  <input name="password" type="password">

  <label for="">Date of birth</label>
  <input name="dob" type="text">

  <label for="">Suburb</label>
  <input name="suburb" type="text">

  <button>Sign up</button>
</form>

<a href="/login">Already a member? Log in here</a>

