<h1>Add new bike</h1>

<form action="/bike" method = "post">
  <label for="">Year</label>
  <input name="year" type="text">
  
  <label for="">Make</label>
  <input name="make" type="text">

  <label for="">Model</label>
  <input name="model" type="text">

  <label for="">LAMS approved</label>
  <input name="lams" type="text">

  <label for="">Image</label>
  <input name="image_url" type="text">

  <button>Add bike</button>
</form>